<!DOCTYPE html>
{{- partial "head.html" . -}}

<body class="font-sans">
    <div class="min-h-screen flex flex-col">
        {{- partial "header.html" . -}}
        <div class="container mx-auto mt-4 flex-grow" id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>
<script type="text/javascript" src="//widget.fotomoto.com/stores/script/f236c486fbc9918a2d54244dd3a4cac142a7f55d.js"></script>
<noscript>If Javascript is disabled in your browser, to place orders please visit the page where I <a href=' https://my.fotomoto.com/store/f236c486fbc9918a2d54244dd3a4cac142a7f55d'>sell my photos</a>, powered by <a href='https://my.fotomoto.com'>Fotomoto</a>.</noscript>
</html>
