<div id="fullimage_overlay_{{.Get "imageID"}}" class="fullimage_overlay">  <!-- this is the only div ID I need to keep -->
    <!-- <div > -->
      <button class="fullimage_close" onclick='fullimage_off("fullimage_overlay_{{.Get "imageID"}}")'>&nbsp;Close&nbsp;</button>
      <img class="fullimage_img"
        srcset="{{.Get "xlargeImage"}} 1024w,
            {{.Get "largeImage"}} 908w,
            {{.Get "mediumImage"}} 774w,
            {{.Get "smallImage"}} 611w,
            {{.Get "xsmallImage"}} 385w"
            sizes="100vw"
        src="{{.Get "mediumImage"}}"
        alt="{{.Get "imageTitle"}}" />
    <!-- </div> -->
</div>

<div 
    {{ if eq (.Get "orientation") ("horizontal") }}
        class="gallery_overlay_horizontal"
    {{ else }}
        class="gallery_overlay_vertical"
    {{ end }}
    >
    <img 
    {{ if eq (.Get "orientation") ("horizontal") }}
        class="gallery_img_horizontal"
    {{ else }}
        class="gallery_img_vertical"
    {{ end }}
        srcset="{{.Get "mediumImage"}} 774w,
            {{.Get "smallImage"}} 611w,
            {{.Get "xsmallImage"}} 385w"
            sizes="(min-width: 1075px) 774px,
                    (min-width: 650px) 526px,
                    100vw"
        src="{{.Get "mediumImage"}}"
        alt="{{.Get "imageTitle"}}">
        <button class="gallery_expand" onclick='fullimage_on("fullimage_overlay_{{.Get "imageID"}}")'>&nbsp;Expand&nbsp;</button>
      </img>
  </div>
